<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/defaultController.js"></script>
  </head>
  <body ng-app="sms">

    <ion-pane ng-controller="defaultController">
      <ion-header-bar class="bar-stable">
        <label class="item-input-wrapper">
          <input placeholder="Enter your number" ng-model="smsFrom"/>
        </label>
      </ion-header-bar>
      <ion-content>
        <div class="card">
          <div class="item item-divider">
            How to use the SMS simulator
          </div>
          <div class="item item-text-wrap">
            Enter you phone number or name above. Enter in the sms below
          </div>  
        </div>

        <div class="card" ng-repeat="sms in smsList">
          <div class="item item-divider">
            {{ sms.sender }}
          </div>
          <div class="item item-text-wrap">
            {{ sms.text }}
          </div>  
        </div>

      </ion-content>

      <ion-footer-bar class="bar-stable">
        <label class="item-input-wrapper">
          <input placeholder="To" ng-model="smsTo"/>
        </label>
        <label class="item-input-wrapper">
          <textarea placeholder="SMS" ng-model="smsText"></textarea>
        </label>
        <button class="button button-clear" ng-click="sendSms( setup.user.phoneNumber, smsText)">
          Send
        </button>
      </ion-footer-bar>

    </ion-pane>
  </body>
</html>
